@media (prefers-color-scheme: dark) {
  body {
    background-color: #222831;
  }
  a {
    color: #f2a365;
  }
  body > div > header {
    color: #ececec;
  }
  body > div > section > header,
  body > div > section > p,
  body > div > section > ul {
    color: #ececec;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  a {
    color: blue;
  }
  body > div > header {
    color: #000;
  }
  body > div > section > header,
  body > div > section > p,
  body > div > section > ul {
    color: #000;
  }
}
body {
  padding-bottom: 53px;
}
body > div {
  max-width: 768px;
  margin: auto;
}
body > div > header {
  font-family: "Noto Serif", serif;
}
body > div > section > header,
body > div > section > p,
body > div > section > ul {
  font-family: "Noto Sans", sans-serif;
}
body > div > section > ul > li {
  margin-bottom: 1rem;
}
body > div > section > ul > li:last-child {
  margin-bottom: 0;
}
